@media (prefers-color-scheme: dark) {
    .container {
      color-scheme: dark;
      --color-neuralseek-menu-selected: #FFFFFF;
      --color-neuralseek-menu-hover: #235cb0;
    }
  }
  
  @media (prefers-color-scheme: light) {
    .container {
      color-scheme: light;
      --color-neuralseek-menu-selected: rgb(33, 33, 33);
      --color-neuralseek-menu-hover: #b8cdeb;
    }
  }

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
}

nav {
    display: block;
    float: left;
    width: 30%;
    padding: 20px;
    font-size: 0.9em;
}

section {
    width: 70%;
}

.title {
    width: 100%;
    margin-left: 50px;
}

div.logo-50 {
    text-align: center;
    padding: 20px;
}

div.logo-50 img {
    width: 160px;
}

.top-menu {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 1em;
    margin-top: 60px;
}

a.selected {
    color: var(--color-neuralseek-menu-selected) !important;
    font-weight: bolder;
    text-decoration: none !important;
}

section img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.container {
    display: flex;
    max-width: 75%;
    border-right: 1px solid #0a3069;
    padding-right: 50px;
}

.hr_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hr_menu li {
    display: inline-block;
    border-radius: 5px;
  }

.hr_menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.hr_menu li:hover {
    background-color: var(--color-neuralseek-menu-hover);
}