@media (prefers-color-scheme: dark) {
    .hr_menu {
      color-scheme: dark;
      --color-neuralseek-menu-selected: #FFFFFF;
      --color-neuralseek-menu-hover: #235cb0;
    }
    .current_page {
      color-scheme: dark;
      --selected: white;
    }
    .content {
      color-scheme: dark;
      --pre: light-gray;
    }
  }
  
  @media (prefers-color-scheme: light) {
    .hr_menu {
      color-scheme: light;
      --color-neuralseek-menu-selected: rgb(33, 33, 33);
      --color-neuralseek-menu-hover: #b8cdeb;
    }
    .current_page {
      color-scheme: light;
      --selected: black;
    }
    .content {
      color-scheme: light;
      --pre: black;
    }
  }

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.title {
    width: 100%;
    margin-left: 50px;
}

div.logo-50 {
    text-align: center;
    padding: 20px;
}

.top-menu {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 1em;
    margin-top: 60px;
}

a.selected {
    color: var(--color-neuralseek-menu-selected) !important;
    font-weight: bolder;
    text-decoration: none !important;
}

main img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.hr_menu {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

.hr_menu li {
    display: inline-block;
    border-radius: 10px;
  }

.hr_menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.hr_menu li:hover {
    background-color: var(--color-neuralseek-menu-hover);
}

.hr_menu li:hover a {
    color: white;
    text-decoration: none;
}

.current_page {
    color: var(--selected);
    font-weight: bolder;
}

.content pre {
    color: var(--pre);
}